# Python
__pycache__/
*.pyc
.env
venv/
instance/

# Node
node_modules/
.next/
dist/
build/
npm-debug.log

# IDE / OS specific
.vscode/
.DS_Store

scraper/browser_data/

# Log files
*.txt
*.log

# Data files
*.csv
*.json
# --- IMPORTANT ---
# We want to UN-ignore the "to-do list" file
!all_urls.json

# Screenshots
*.png
*.jpg
*.jpeg

BACKUP!/