--
-- PostgreSQL database dump
--

\restrict PCQlpnSjHuTQmSWkkqAl8bZ9vb2cgDgBzodaQdadCZOwE5BqZWQSgRKjfqInWt6

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: items; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.items (
    id integer NOT NULL,
    name character varying,
    serial_code character varying,
    store character varying,
    item_url character varying,
    image_url character varying
);


ALTER TABLE public.items OWNER TO myuser;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.items_id_seq OWNER TO myuser;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: price_history; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.price_history (
    id integer NOT NULL,
    price double precision NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    item_id integer
);


ALTER TABLE public.price_history OWNER TO myuser;

--
-- Name: price_history_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.price_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.price_history_id_seq OWNER TO myuser;

--
-- Name: price_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.price_history_id_seq OWNED BY public.price_history.id;


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: price_history id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.price_history ALTER COLUMN id SET DEFAULT nextval('public.price_history_id_seq'::regclass);


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: price_history; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.items_id_seq', 651, true);


--
-- Name: price_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.price_history_id_seq', 650, true);


--
-- Name: items items_item_url_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_item_url_key UNIQUE (item_url);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (id);


--
-- Name: ix_items_id; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX ix_items_id ON public.items USING btree (id);


--
-- Name: ix_items_name; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX ix_items_name ON public.items USING btree (name);


--
-- Name: ix_items_serial_code; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX ix_items_serial_code ON public.items USING btree (serial_code);


--
-- Name: ix_items_store; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX ix_items_store ON public.items USING btree (store);


--
-- Name: ix_price_history_id; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX ix_price_history_id ON public.price_history USING btree (id);


--
-- Name: price_history price_history_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id);


--
-- PostgreSQL database dump complete
--

\unrestrict PCQlpnSjHuTQmSWkkqAl8bZ9vb2cgDgBzodaQdadCZOwE5BqZWQSgRKjfqInWt6

